// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-breadcrumbs();
        margin-top: 5px;
        margin-bottom: 0px;

        ul {
            display: flex;
            align-items: center;

            &::before {
                content: '\e82C';
                font-family: fontello;
                font-size: 12px;
                margin-right: 5px;
            }
            
            li {
                display: flex !important;
                align-items: center;
                line-height: 1;

                &:not(:last-child)::after {
                    content: '\f101' !important;
                    font-family: fontello !important;
                    font-size: 14px !important;
                    margin: 0 3px !important;
                }

                strong {
                    line-height: 1;
                }

                a {
                    .btn_und(
                        @font_weight_btn_und: 400,
                        @color_txt_btn_und: #333,
                        @color_und_btn_und: #333,
                    );
                    line-height: 1;
                    text-decoration: none !important;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        margin-bottom: 0px;
    }
}