// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

@screen__l: 1024px;
@screen__xl: 1440px;

//Button
@var_btn_background_color: #1979c3;
@var_btn_color: white;
@var_btn_background_color_hover: #006bb4;
@var_btn_padding: 7px 15px;

//Underline Button
//Para determinar número de linhas use display: -webkit-box
@var_font_size_btn_und: inherit; 
@var_font_weight_btn_und: 700;
@var_color_txt_btn_und: #1979c3;
@var_color_und_btn_und: #1979c3;
@var_line_clamp_btn_und: 1;
@var_display_btn_und: initial;

//Price
@var_color_price: #1979c3;