.checkout-index-index {
    .form.form-discount {
        button {
            .btn();
        }
    }

    .checkout-shipping-address {
        .fieldset {
            .field {
                display: flex;
                flex-direction: column;

                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }

                .label {
                    padding: 0 !important;
                    text-align: initial !important;
                    width: 100% !important;
                    box-sizing: initial !important;
                    float: initial !important;
                }
            }

            .field.street.admin__control-fields {
                [name="shippingAddress.street.0"], 
                [name="shippingAddress.street.1"],
                [name="shippingAddress.street.2"]
                {
                    margin-bottom: 29px;

                    .label {
                        &::after {
                            content: '*';
                            color: #e02b27;
                            font-size: 1.2rem;
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
        }
    }

    .field.cvv {
        .field-tooltip.toggle {
            top: -2px;
        }
    }
}

//
//  Desktop @screen__xl
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl) {
    .checkout-index-index {
        .field.cvv {
            .field-tooltip.toggle {
                right: -2px !important;
                top: -16px;
            }
        }

        .opc-block-summary {
            .title {
                font-size: 24px;
            }
            .items-in-cart {
                > .title{
                    &:after {
                        top: 22px;
                    }
                }
            }
        }

        .opc-block-summary {
            .minicart-items {
                .product {
                    display: flex;
                    justify-content: space-between;

                    .product-item-details {
                        padding: 0px;
                        width: 100%;

                        .product-item-inner {
                            padding-left: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                    &::before {
                        display: none;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

//
//  Desktop @screen__l
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .checkout-index-index {
        .field.cvv {
            .field-tooltip.toggle {
                right: -2px !important;
                top: -16px;
            }
        }

        .opc-block-summary {
            .title {
                font-size: 24px;
            }
            .items-in-cart {
                > .title{
                    &:after {
                        top: 22px;
                    }
                }
            }
        }

        .opc-block-summary {
            .minicart-items {
                .product {
                    display: flex;
                    justify-content: space-between;

                    .product-item-details {
                        padding: 0px;
                        width: 100%;

                        .product-item-inner {
                            padding-left: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                    &::before {
                        display: none;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index {
        .field.cvv {
            .field-tooltip.toggle {
                right: -2px !important;
                top: -16px;
            }
        }

        .opc-block-summary {
            .title {
                font-size: 23px;
            }
            .items-in-cart {
                > .title{
                    &:after {
                        top: 22px;
                    }
                }
            }
        }

        .opc-block-summary {
            .minicart-items {
                .product {
                    display: flex;
                    justify-content: space-between;

                    .product-item-details {
                        padding: 0px;
                        width: 100%;

                        .product-item-inner {
                            padding-left: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                    &::before {
                        display: none;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }

        .checkout-payment-method {
            .payment-methods {
                margin: 0px;
            }

            .payment-option { 
                margin: 0px;
            }
        }

        .pagbank-deeplink.instruction.address, 
        .pagbankboleto.instruction.address,
        .items.check.payable {
            text-align: justify;
        }
    }
}