/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

& when (@media-common = true) {
    .search-term-popular {
        .search-terms {
            li {
                font-size: 15px !important;
                margin-bottom: 0px;

                &::marker {
                    font-size: 15px;
                }

                a {
                    .btn_und();
                }
            }
        }
    }


    form {
        .field.note.no-label {
            text-align: justify;
        }

        .fieldset {
            .field {
                display: flex;
                flex-direction: column;

                .label {
                    text-align: left !important;
                    width: 100% !important;
                }
            }
        }

        .actions-toolbar,
        .fieldset:after {
            margin-left: 0px !important;
        }

        .field.choice {     
            flex-direction: row;
            align-items: baseline;
            justify-content: flex-start;

            &::before {
                display: none;
            }

            .label {
                width: fit-content !important;
            }
        }

        .legend {
            margin: 0 0 10px !important;
        }

        .fieldset {
            margin: 0 0 20px;
        }

        .g-recaptcha {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .field {
            &::before {
                display: none !important;
            }
        }
    }

    .contact-index-index {
        .form-orders-search {
            .legend {
                margin: 0 0 0 0;
                margin-left: 0px !important;
            }
        }
    }

    .customer-account-login {
        .field.note,
        .block-content p {
            text-align: justify;
        }

        .form-login {
            .action.remind {
                text-decoration: none;

                span {
                    .btn_und();
                }
            }
        }
    }


    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 50%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 50%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .contact-index-index .column:not(.sidebar-additional) .form.contact {
        min-width: 600px;
    }
}

//  Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }
    }
}

