.installments {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
    position: relative;
    margin-bottom: 10px;

    .price-label {
        display: none !important;
    }

    .price-box.price-final_price {
        margin: 0px;
    }

    .old-price {
        order: 0;
        width: 100%;
        position: absolute;
        top: -11px;
        text-decoration: none;
        left: 1px;

        .price {
            font-size: 12px !important;
            text-decoration: line-through;
        }
    }

    .discounts {
        order: 1;
        width: 100%;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            flex-wrap: wrap;

            strong {
                font-size: 19px;
                margin-right: 4px;
            }

            .percentage {
                margin-right: 2px;
            }
    
            .name {
                margin-left: 2px;
            }
        }
    }

    .price-box.price-final_price {
        order: 2;
        width: 100%;

        .price-container {
            .price-label {
                display: none;
            }
        }

        .price {
            font-size: 15px !important;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            &::before {
                content: 'ou';
                margin-right: 2px;
            }

            &::after {
                content: 'em até';
                margin-left: 2px;
            }
        }
    }

    .installment {
        order: 3;
        width: 100%;
    }

    .discounts .item, 
    .price-box.price-final_price .price::after,  
    .price-box.price-final_price .price::before,
    .installment, .installment span
    {
        color: black;
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.installments {
    .price-box {
        .price {
            font-weight: 700 !important;
            color: @var_card_price;
        }
    }
}

.discounts {
    .percentage {
        background-color: @var_bg_pix_percentage;
        color: @var_text_pix_percentage;
        border-radius: 100%;
        font-size: 1.4rem;
        padding: 0px 2px;
    }
}

.product-item-details {
    display: flex;
    flex-direction: column;

    .discounts {
        order: 1;
    }

    .installment {
        order: 2;
    }

    .price-box.price-final_price {
        order: 2;

        .installment {
            order: 2;
        }

        .price-final_price {
            order: 1;
        }

        .discounts {
            order: 0;
            
            .item {
                margin-bottom: 0px;
            }
        }
    }

    .price-box.price-final_price {
        display: flex;
        flex-direction: column;

        .old-price {
            order: 0;
            text-decoration: none;
            margin-top: 4px;

            .price {
                text-decoration: line-through;
                font-size: 14px;
                color: lightgray;
            }
        }

        .special-price {
            order: 1;
        }
    }
}

.installment {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    strong {
        font-weight: 700;
        font-size: 15px;
    }

    strong:nth-child(1) {
        color: @var_card_qtd;
    }

    strong:nth-child(2) {
        color: @var_card_parcel;
    }
}

.discounts ul {
    list-style: none;
    padding: 0;

    li.item {
        strong {
            color: @var_pix_price;
            font-weight: 700;
        }
    }
}

.product-info-main {
    .product.attribute.overview {
        #installments-accordion {
            display: none;
        }
    }
}

.catalog-category-view {
    #installments-accordion {
        display: none;
    }
}

#installments-accordion {
    margin-top: 30px;

    .options {
        margin-bottom: 5px;
    }
   
    [data-role="trigger"] {
        .btn();
        text-transform: uppercase;

        h5 {
            margin: 0;
        }
    }

    [data-role="content"] {
        border: 1px solid @color-gray-light5;
        padding: 16px;
        border-radius: 0 0 4px 4px;

        ul.options {
            list-style: none;
            padding: 0;
            font-size: 14px;
            line-height: 16px;

            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                strong {
                    font-weight: 700;
                    font-size: 15px;
                }
            
                strong:nth-child(1) {
                    color: @var_card_qtd;
                }
            
                strong:nth-child(2) {
                    color: @var_card_parcel;
                }
            }
        }

        .footer-message {
            color: @color-gray-light3;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-list {
        .product-item {
            .product-item-photo {
                width: 100% !important;
                padding: 0px !important;
            }
    
            .rating-summary {
                display: flex;
                justify-content: center;
            }

            .product-item-inner {
                .actions-secondary {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .product-item {
        .product-item-name {
            display: flex;
            justify-content: center;

            a {
                text-align: center;
                font-size: 15px;
                -webkit-line-clamp: 2 !important;
            }
        }

        .old-price {
            display: flex;
            justify-content: center;
        }

        .discounts {
            .item {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 10px;

                strong {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }

        .price-box {
            .special-price {
                display: flex;
                justify-content: center;
            }
        }
        
        .installment {
            display: flex;
            justify-content: center;
        }

        .price-box {
            .price {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                line-height: 1;
                font-size: 14px !important;

                &:after {
                    font-size: 14px !important;
                    width: 100%;
                    text-align: center;
                }

                &:before {
                    font-size: 14px !important;
                }
            }
        }

        .installment {
            display: flex;
            flex-wrap: wrap;
            gap: 0px 2px;
            justify-content: center;
            font-size: 14px;

            strong {
                font-size: 14px;
            }

            span {
                width: 100%;
                text-align: center;
                font-size: 14px;
            }
        }
    }

    .products.list.items.product-items {
        .installment {
            span {
                justify-content: flex-start !important;

                .price {
                    justify-content: flex-start !important;
                }
            }
        }
    }
}